.header-background {
  background: #343a40;
  color: white;
}

.card-dimensions {
  width: 100vw;
  height: 60vh;
}

.btn-default-style {
  background: white;
  border-radius: 3px;
  border-width: 2px;
  color: gray;
  border-color: gray;
  font-weight: bold;
}

.btn-default-style:hover {
  background: gray;
  color: white;
}

.btn-custom-style {
  background: white;
  border-radius: 3px;
  border-width: 2px;
  color: #ebca88;
  border-color: #ebca88;
  font-weight: bold;
}

.btn-custom-style:hover {
  background: #ebca88;
  color: white;
}

.body-content {
  background-color: #e8dfcc;
  height: 100vh;
}

.required {
  color: red;
}

.btn-submit {
  background: white;
  border-radius: 3px;
  border-width: 2px;
  color: #36D646;
  border-color: #36D646;
  font-weight: bold;
}

.btn-submit:hover {
  background: #36D646;
  color: white;
}
